<div class="widget-wrap">
    <h3 class="widget-title"><%= __('friends') %></h3>
    <div class="widget">
        <ul class="entry">
            <li><a href="https://humsan.github.io" target="_blank" title="BigDickGirl">BlaWhickte(BigDickGirl)</a></li>
            <li><a href="https://fyibmsd.github.io" target="_blank" title="汀雨">汀雨(谷歌扛把子)</a></li>
            <li><a href="https://phpinfo.me" target="_blank" title="李春燕">李春燕(会口算MD5的黑客)</a></li>
            <li><a href="https://iminto.github.io" target="_blank" title="白菜爷爷">白菜爷爷(PHP滞销书作者)</a></li>
            <li><a href="https://www.webapp123.com" target="_blank" title="天南总">天南总(CTO)</a></li>
        </ul>
    </div>
</div>